{% extends "app/layout.html" %}

{% block content %}
<h1>Tennis moves</h1>
<div class="table-responsive col-md-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><img src="/static/app/images/atp.png"/></th>
        </tr>
        </thead>
        <tbody>
            {% for champ in atp %}
        <tr>
            <td><h3><a href="{% url 'maininspect' %}?cid={{ champ.id }}">{{ champ.name }}</a></h3></td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="table-responsive col-md-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><img src="/static/app/images/wta.png"/></th>
        </tr>
        </thead>
        <tbody>
            {% for champ in wta %}
        <tr>
            <td><a href="{% url 'maininspect' %}?cid={{ champ.id }}"><h3>{{ champ.name }}</h3></a></td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
