{% extends "app/layout.html" %}

{% block content %}
<br/>
<h2><a href="{% url 'maininspect' %}">{{ champ.name }}</a></h2>
<div class="col-md-1"><img src="/static/app/images/countries/c{{ champ.countryid }}.png"/></div>
<div class="col-md-1">{{ champ.surface }}</div>
<div class="col-md-1">{{ champ.prize }}</div>
<div class="col-md-1">{% if champ.link != "" %}<a href="{{ champ.link }}">Link</a>{% endif %}</div>
<table class="table table-striped">
    {% for event in events %}
        <tr>
            <td class="col-md-1">{{ event.dt|date:"d M" }}</td>
            <td class="col-md-1">{{ event.res }}</td>
            <td class="col-md-5"><a href="{% url 'maininspect' %}?evid={{ event.id }}&isip=0">{{ event.p1.name }} - {{ event.p2.name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}