{% extends "selected.html" %}

{% block local_menu %}
{% if lsevent.reversed == 0 %}
    {% for game,points in games %}
        <div class="row">
            <div class="col-md-1">{{ game.setn }}</div>
            <div class="col-md-1">{{ game.sc1 }}{% if game.serve == 1 %}*{% endif %}-{{ game.sc2 }}{% if game.serve == 2 %}*{% endif %}</div>
            <div class="col-md-1">{{ game.prewin }}</div>
            <div class="col-md-2">{{ game.dtc|date:"H:i:s" }}</div>
            <div class="col-md-7">
                {% for p in points %}
                    {{p.sc1}}-{{p.sc2}}<sup>{{ p.dtc|date:"i:s" }}</sup>,
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if lsevent.reversed == 1 %}
    {% for game,points in games %}
        <div class="row">
            <div class="col-md-1">{{ game.setn }}</div>
            <div class="col-md-1">{{ game.sc2 }}{% if game.serve == 2 %}*{% endif %}-{{ game.sc1 }}{% if game.serve == 1 %}*{% endif %}</div>
            <div class="col-md-1">{% if game.prewin == 1 %}2{% endif %}{% if game.prewin == 2 %}1{% endif %}</div>
            <div class="col-md-2">{{ game.dtc|date:"H:i:s" }}</div>
            <div class="col-md-7">
                {% for p in points %}
                    {{p.sc2}}-{{p.sc1}}<sup>{{ p.dtc|date:"i:s" }}</sup>,
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
{% block notes %}
SET NOTES!
{% endblock %}