{% load i18n %}
{% load main_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sposta</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
 {#navbar-custom1#}
<nav class="navbar navbar-fixed-top navbar-custom1">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img alt="Sposta" src="/static/app/images/logo18.png"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                <li {% ifequal currentpage 'Tennis' %}class="active"{% endifequal%}><a href="{% url 'maininspect' %}"><span class="glyphicon glyphicon-asterisk"></span> {% trans "Tennis" %}</a></li>
                {% if request.user.is_staff %}
                <li {% ifequal currentpage 'BF' %}class="active"{% endifequal%}><a href="{% url 'bfinspect' %}">BF</a></li>
                <li {% ifequal currentpage 'LS' %}class="active"{% endifequal%}><a href="{% url 'lsinspect' %}">LS</a></li>
                <li {% ifequal currentpage 'OP' %}class="active"{% endifequal%}><a href="{% url 'opinspect' %}">OP</a></li>
                <li {% ifequal currentpage 'Stats' %}class="active"{% endifequal%}><a href="{% url 'stats' %}">Stats</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav">
                <li {% ifequal currentpage 'About' %}class="active"{% endifequal%} title="About"><a href="{% url 'about' %}"><span class="glyphicon glyphicon-info-sign"></span></a></li>
                <li {% ifequal currentpage 'Help' %}class="active"{% endifequal%} title="Help"><a href="{% url 'help' %}"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            </ul>
            
            {% include 'app/loginpartial.html' %}

        </div>
    </div>
</nav>

<div class="container body-content">
    {% block content %}{% endblock %}</div>
<hr/>
<footer class="footer">
    <p>&copy; 2017 - Sposta&nbsp;&nbsp;&nbsp;</p>
</footer>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
