{% load i18n %}
{% if user.is_authenticated %}
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand"><a href="{% url 'userprofile' %}">{{ user.username }}</a></span></li>
        <li><span class="navbar-brand"><button type="submit">{% trans "Sign Out" %}</button></span></li>
    </ul>
</form>
{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
    <li><a href="{% url 'account_signup' %}">{% trans "Register" %}</a></li>
</ul>

{% endif %}
