{% extends "app/layout.html" %}
{% load tz %}
{% block content %}
<h2>Dear {{ user.first_name }} {{ user.last_name }}</h2>
<p>You're logged as {{ user.username }}.</p>

{% get_current_timezone as TIME_ZONE %}
<form action="{% url 'userprofile' %}" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set" />
</form>
{% endblock %}
