{% extends "app/layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<table>
    <tr>
        <td>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <table class="table table-striped">
                    <tr><td colspan="2"><h3>{% trans "Sign In" %}</h3></td></tr>
                    {{ form.as_table }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <tr><td colspan="2">
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <table class="table table-striped">
                    <tr><td colspan="2"><h3>{% trans "Sign Up" %}</h3></td></tr>
                    {{ signupform.as_table }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <tr><td colspan="2"><button type="submit">{% trans "Sign Up" %}</button></td></tr>
                </table>
                
            </form>
        </td>
    </tr>
</table>

{% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
<p>{% blocktrans %}You can sign in or sign up with one of your existing third party accounts:{% endblocktrans %}
        {% include "account/provider_list.html" with process="login" %}
</p>

    {% include "account/login_extra.html" %}
    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
