{% extends "app/layout.html" %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<a href="{% url 'bfinspect' %}?cid={{event.cid.id}}">Back</a>
<h2><small>{{ event.cid.name }}</small><br>{{ event.pid1.name }} - {{ event.pid2.name }}</h2>

<div class="row">
    <div class="col-md-3">Scheduled: {{ event.dt|date:"d M, H:i:s" }}</div>
    <div class="col-md-3">Changed: {{ event.dtc|date:"d M, H:i:s" }}</div>
    <div class="col-md-3">IP: {{ goip|date:"d M, H:i:s" }}</div>
</div>
<div class="row">
    <div class="col-md-2"><a href="{% url 'bfinspect' %}?evid={{ event.id }}&isip=0" class="btn btn-primary btn-lg{{isip0}}" role="button">Not In-Play</a></div>
    <div class="col-md-2"><a href="{% url 'bfinspect' %}?evid={{ event.id }}&isip=1" class="btn btn-primary btn-lg{{isip1}}" role="button">In-Play</a></div>
</div>

{{graph|safe}}
{% for odds in oddschanges %}
    <div class="row">
        <div class="col-md-1">{{ odds.ip }}</div>
        <div class="col-md-2">{{ odds.dtc|date:"d M, H:i:s" }}</div>
        <div class="col-md-1">${{ odds.b1size }}</div>
        <div class="col-md-1">{{ odds.b1odds }}</div>
        <div class="col-md-1">{{ odds.b2odds }}</div>
        <div class="col-md-1">${{ odds.b2size }}</div>
    </div>
{% endfor %}
{% endblock %}