betfair.py==0.2.2
decorator==4.0.10
Django==1.10.5
django-allauth==0.31.0
django-crontab==0.7.1
django-mailbox==4.5.4
enum34==1.1.6
inflection==0.3.1
invoke==0.14.0
microsofttranslator==0.8
oauthlib==2.0.1
plotly==1.13.0
polib==1.0.8
psycopg2==2.6.2
python-dateutil==2.6.0
python-openid==2.2.5
pytz==2016.10
requests==2.12.4
requests-oauthlib==0.8.0
schematics==1.1.1
six==1.10.0
sqlparse==0.2.2
