{% extends "app/layout.html" %}

{% block content %}
{% for opmeet in opmeets %}
{% if opmeet.champ %}
    <div class="row">
        <div class="col-md-11">{{ opmeet.champ }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Start</div>
        <div class="col-md-4">Meet</div>
        <div class="col-md-2">Odds</div>
        <div class="col-md-2">Max Odds</div>
        <div class="col-md-1">Res</div>
    </div>
{% endif %}
    <div class="row">
      <div class="col-md-2">{{ opmeet.dt }}</div>
      <div class="col-md-4">{{ opmeet.player1 }} - {{ opmeet.player2 }}</div>
      <div class="col-md-1">{{ opmeet.w1 }}</div>
      <div class="col-md-1">{{ opmeet.w2 }}</div>
      <div class="col-md-1">{{ opmeet.w1max }}</div>
      <div class="col-md-1">{{ opmeet.w2max }}</div>
      <div class="col-md-1">{{ opmeet.sets1 }}:{{ opmeet.sets2 }}</div>
    </div>
{% endfor %}
{% endblock %}